body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  cursor: none;
}
#counter {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  justify-items: center;
  font-size: 30px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 10;
}
#chaserButton {
  position: absolute;
  display: none;
  padding: 15px;
  left: 40%;
  bottom: 1%;
  transform: translate(-50%);
  background: #f7ff1b;
  color: black;
  border: none;
  cursor: pointer;
}
/* autoclickerbuttons {
  background-color: #04aa6d;
  border: none;
  color: black;
  padding: 15px;
  left: 50%;
  bottom: 30%;
  cursor: pointer;
  float: left;
} */
.clickerbuttons {
  position: absolute;
  display: block;
  padding: 15px;
  transform: translate(-50%);
  left: 50%;
  bottom: 1%;
  background: green;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.clickerbuttons:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.chaserButton:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.targetButton {
  position: absolute;
  padding: 15px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.1s;
  z-index: 5;
}
.chaser {
  position: absolute;
  width: 30px;
  height: 30px;
  background: blue;
  border-radius: 5px;
  transition: transform 0s;
}
