body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  cursor: none;
}
#counter {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  justify-items: center;
  font-size: 30px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 10;
}
#chaserButton {
  position: absolute;
  padding: 15px;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
  background: #f7ff1b;
  color: black;
  border: none;
  cursor: pointer;
}
.chaserbutton:disabled {
  background-color: #cccccc; /* Grey background */
  color: #666666; /* Darker grey text */
  cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}
.targetButton {
  position: absolute;
  padding: 15px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.1s;
  z-index: 5;
}
.chaser {
  position: absolute;
  width: 30px;
  height: 30px;
  background: blue;
  border-radius: 5px;
  transition: transform 0s;
}
